<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.spnet.modtool.bot</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/savanpatel/.homebrew/bin/php</string>
        <string>/Users/savanpatel/Documents/SPNET-MODTOOL/bin/poll.php</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/savanpatel/Documents/SPNET-MODTOOL</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/savanpatel/Documents/SPNET-MODTOOL/storage/logs/poll.out.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/savanpatel/Documents/SPNET-MODTOOL/storage/logs/poll.err.log</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/Users/savanpatel/.homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
    </dict>
</dict>
</plist>
